.center {
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
}

ul {
  text-align: center;
  padding: auto;
  justify-content: center;
  display: inline-block;
}

#name{
  font-size: 48px;
  margin-bottom: 16px;
}

.pad-bot{
  padding-bottom: 16px;
}